<style>
.mainphoto{
   width: 500px; 
   border-radius: 700px;
   border: 7px solid white;
   margin-top: 100px;
 }
</style>



<div class="mainbody">
	<h1> Maria and Dave's Wedding </h1>
	<!-- In here we can write all the details about the event, such as the date/time/outfit that would be appropriate/place/address or even little story and a picture of the place where the event will take place-->
	<p>Date: 18th December 2015</p>
	<p>Time: 12:00</p>
	<p>Venue: St. Pauls Church, Manchester, M14 5WE</p>
	<img class="mainphoto" src="images/church.jpg">
	<!--Maybe add a link to the venue website, or the venue on google maps-->
</div>
