<div class="mainbody">
	<h1> This is a project for a competition in CodeFirst:Girls Advanced Course </h1>
	<p>In here we can write all the details about the event, such as the date/time/outfit that would be appropriate/place/address or even little story and a picture of the place where the event will take place</p>
</div>
