<style>
	.mainbody{
		max-width: 1700px;
		text-align: center;
		margin-top: 30px;
	}
</style>

<div class="row">
	<div class="col-md-12 mainbody">
	<h3>The idea is simple, an app that allows the bride to sit back, relax and only worry about choosing the perfect dress</h3>
	<p>This site allows event organisers to keep track of who will be attending their event and gather any relevant details in the process. A url is provided to the potential guests where they are able to confirm their attendance to the event. This is where you are able to gather any other necessary information such as dietary requirements or names of any plus ones. After providing an email address the guest will be sent a confirmation email containing all relevant informtation about the event. Moving forward we want to be able to set up a page viewable only to the event organiser which will print running figures of attendance etc.</p>
	</div>
</div>
