
<div class="mainbody">
	<h1> Contact Details </h1>
	<p>If you have any questions please contact Jo (Maria's maid of honour) using the details below</p>
	<p>Email: jorenzulli1@hotmail.co.uk</p>
	<p>Phone: 07836278834</p>
</div>
