
<div class="cover-container">
	<div class="mainbody">
		<h1 class="title"> Contact Details </h1>
		<p>If you have any questions please contact Maria (Jo's maid of honour) using the details below</p>
		<p>Email: Maria@hotmail.co.uk</p>
		<p>Phone: 07836278834</p>
	</div>
	<img class="mainphoto" src="images/myphoto.jpg">
	 <div class="mastfoot">
            <div class="inner">
              <p>Visit Maria's <a href="http://avemarija.github.io/first_site/">website</a> and <a href="https://twitter.com/maria_bikova/">Twitter</a>.</p>
            </div>
     </div>
</div>
