
<div>
  <img class="mainphoto" src="images/background.jpg">
  <h1 class="title">Hello friend! You have been invited to Jo's Wedding.</h1>
  <p class="lead">RSVP using the form below and enter any specific requirements that you might have. Hope to see you soon!</p>

</div>

<div class="row">
  <div class="col-md-12">
    <form class="form-inline" method="post" action="/">
      <div class="form-group">
        <label for="InputName">Name</label>
        <input type="text" class="form-control" name="InputName" placeholder="Full name">
      </div>
    
      <div class="form-group">
        <label for="InputEmail">Email</label>
        <input type="email" class="form-control" name="InputEmail" placeholder="your_email@gmail.com">
      </div>
    
      <div class="form-group">
        <label for="InputAge">Age</label>
        <input type="text" class="form-control" name="InputAge" placeholder="Age">
      </div>
      
      <div class="form-group">
        <label for="InputVeg">Are you vegetarian?</label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Yes"> Yes
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="No"> No
        </label>
      </div>
      
      <button type="submit" class="btn btn-default">Register</button>
    </form>
  </div>
</div>

    	

