<h1>Hello friend! You have been invited to Maria's wedding! Wohooo</h1>
<h1>Hello <%= @name %>. You are <%= @age %> years old. You are <%= @Are you vegetarian? [Yes/No] %>. </h1>

<p><a href='http://localhost:4567/thanks'> Register </a></p>

